/* 
/* * {

  box-sizing: border-box;

} */


button {

/* display: block; */
margin-bottom: 20px;
width: 250px;
height: 100px;
margin: 20 auto;
font-size: 20pt;
color:aliceblue;
background-color: rgb(244, 248, 8);
/* border-radius: 15%; */

}

.blue{
  background-color:blue;
}
.red{
  background-color:red;
}

.btn-block {

background-color:gray;

}
 